
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

nav{
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
