@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    background-color: rgb(11, 54, 87);
}

nav {
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(246, 246, 246, 0.263);
    color: beige;
}

.header2 {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(246, 246, 246, 0.263);
    color: beige;
}

.container {
    display: flex;
    justify-content: center;
}

#box1,
#box2,
#box3 {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    background-color: #ccc;
    transition: transform 0.2s ease-in-out;
}

#box1:hover,
#box2:hover,
#box3:hover {
    transform: scale(1.1);
}